@page "/appointment"
@using DentistAppointment.Business.Services

<PageTitle>Appointment</PageTitle>

<h1>Appointment</h1>

<p>Name: @name</p>
<p>Date: @date</p>

<MudButton @onclick="ShowAppointment">Show appointment</MudButton>
<button class="btn btn-primary" @onclick="ShowAppointment">Click me</button>

@code {
    private string? name = string.Empty;
    private string? date = string.Empty;

    private void ShowAppointment()
    {
        var appointment = new AppointmentService().GetAppointment();
        name = appointment.Name;
        date = appointment.Date.ToShortDateString();
    }
}
