@page "/appointment"
@using DentistAppointment.Business.Services
@using DentistAppointment.Services

<PageTitle>Afspraak</PageTitle>

<h1>Afspraak</h1>

<p>Naam: @name</p>
<p>Datum: @date</p>

<MudButton @onclick="Get" >Toon een afspraak</MudButton>

@code {
    private string? name = string.Empty;
    private string? date = string.Empty;

    private async Task Get()
    {
        var client = new Client("http://localhost:52821", new System.Net.Http.HttpClient());

        //var appointment = new AppointmentService().Get();
        var appointment = await client.GetAppointmentAsync();
        name = appointment.Name;
        date = appointment.Date.ToString();
    }
}
