@page "/appointment"
@using DentistAppointment.Business.Services

<PageTitle>Afspraak</PageTitle>

<h1>Afspraak</h1>

<p>Naam: @name</p>
<p>Datum: @date</p>

<MudButton @onclick="Get" >Toon een afspraak</MudButton>

@code {
    private string? name = string.Empty;
    private string? date = string.Empty;

    private void Get()
    {
        var appointment = new AppointmentService().Get();
        name = appointment.Name;
        date = appointment.Date.ToShortDateString();
    }
}
